@import "styles/mixins";
@import "styles/colors";

.header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  background-color: $primary;
  justify-content: space-between;

  @include shadow;

  &__title {
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
}
